.header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 20px 0;
}

.pageTitle {
    margin: 0 20px;
}
.cartButtonContainer {
    align-self: center;
    margin: 0 20px;
}
