.header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 20px 0;
    & > a {
        text-decoration: none;
    }
}

.pageTitle {
    margin: 0 20px;
    color: black;
}
.cartButtonContainer {
    align-self: center;
    margin: 0 20px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    background-color: steelblue;
    a {
        text-decoration: none;
        color: white;
    }
}
