.itemCartContainer {
    display: flex;
    flex-direction: column;
}

.addToCartButton {
    background-color: steelblue;
    color: white;
}

.addToCartButton.disabled {
    background-color: red;
}

.confirm {
    color: green;
}
.warning {
    color: red;
}
