.itemCartContainer {
    display: flex;
}

.addToCartButton {
    background-color: steelblue;
    color: white;
}

.addToCartButton.disabled {
    background-color: red;
}

.warning {
    color: red;
}
