.itemDetailRow {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.itemDetailCol {
    flex-grow: 2;
}

.itemDetailTitle {
    margin: 0 20px;
}
.itemDetailStockAlert {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    &.inStock {
        color: green;
    }
    &.outOfStock {
        color: red;
    }
}

.itemDetailImageCarousel {
    display: flex;
    align-items: stretch;
}

.itemDetailImageCarouselControl {
    border-radius: 15px;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: gray;
        color: black;
    }
}

.itemDetailImageCarouselPrev {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.itemDetailImageCarouselNext {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.itemDetailReview {
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}

.itemDetailReviewTitle {
    margin: 5px 0;
}
.itemDetailReviewByLine {
    font-style: italic;
    margin: 0 8px;
}

.itemDetailReviewBody {
    margin: 5px 7px;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}

.itemDetailReviewRating {
    margin: 5px 0;
    user-select: none;
}

.itemDetailReviewStar {
    user-select: none;
    &.itemDetailReviewStarFilled {
        &:before {
            position: absolute;
            content: "\2605";
        }
    }
}

.itemDetailReviewBodyText {
    margin: 5px 0;
}
